html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #ffffff;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: #f5f5f5;
  cursor: pointer;
}

a:hover {
  color: #ffffff;
}

#navbar {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#restaurant-logo {
  width: 40%;
  height: auto;
  padding: 10px;
}

#navbar .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.img-main {
  margin-top: -100px;
  overflow: hidden;
  background: url(./images/store.png), rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#img-home {
  height: 100vh;
}

#img-menu,
#img-contact {
  height: 50vh;
}

.home-heading {
  font-size: 80px;
  margin: 0;
}

.home-text {
  max-width: 500px;
  font-size: 30px;
}

.orderBtn,
.menu-item-btn,
.menu-btn-more {
  background-color: #fcd13f;
  border: 1px solid #fcd13f;
  font-family: serif;
  font-size: 25px;
  padding: 5px 30px;
}

#menu-content {
  background-color: #00000015;
}

#menu {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}

#menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  text-align: center;
}

.menu-heading {
  font-size: 50px;
  margin-bottom: 0;
}

.menu-text {
  font-size: 23px;
  margin-bottom: 0;
}

hr {
  background-color: #fcd13f;
  border: none;
  width: 140px;
  height: 5px;
  margin-bottom: 100px;
}

#menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu-item {
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #00000012;
  width: 280px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-info {
  margin: 0 auto;
  width: 220px;
}

.menu-item-top {
  display: flex;
  justify-content: space-between;
}

.menu-item-img {
  object-fit: scale-down;
  width: 250px;
  height: 200px;
  margin-bottom: 5px;
}

.menu-item-heading {
  font-size: 25px;
  font-weight: 600;
}

.menu-item-price {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #fcd13f;
}

.menu-item-text {
  font-size: 16px;
  margin: 10px auto;
}

.menu-item-btn {
  font-size: 20px;
  padding: 5px 5px;
}

.menu-btn-more {
  margin-top: 100px;
  margin-bottom: 40px;
}

#contact {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  color: #000000;
}

#address-header,
#form-header {
  max-width: 500px;
  text-align: left;
}

.address-heading,
.form-heading {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 5px;
}

#contact hr {
  margin: 20px 0;
  margin-top: 0;
  width: 340px;
}

.contact-text {
  font-size: 20px;
}

.contact-address-img {
  object-fit: scale-down;
  width: 530px;
  height: 440px;
  margin-bottom: 40px;
}

#contact-form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.contactText {
  margin: 0;
}

.contactInput {
  margin-bottom: 20px;
  padding: 8px 10px;
}

#largeText {
  height: 240px;
}

#nameInput,
#mailInput,
#footer {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-section {
  width: 300px;
}

.footer-heading {
  font-size: 25px;
}

.footer-text {
  font-size: 20px;
}

#subForm {
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: #ffffff;
}

.emailInput {
  background-color: #818181;
  border: 1px solid #818181;
  font-family: serif;
  font-size: 20px;
  padding: 8px 10px;
  margin-bottom: 20px;
}

.emailSubmit,
.contactSubmit {
  background-color: #fcd13f;
  border: 1px solid #fcd13f;
  font-family: serif;
  font-size: 20px;
  padding: 8px 10px;
  margin-bottom: 20px;
}

.orderBtn:hover,
.emailSubmit:hover,
.menu-item-btn:hover,
.menu-btn-more:hover,
.contactSubmit:hover {
  background-color: #fcd03ff6;
  border: 1px solid #fcd03ff6;
  cursor: pointer;
}
